@mixin make-titles (
    $sizes: $title-sizes,
    $color: $title-color,
    $font: $title-ff,
) {
    .title {
        color: $color;
        font-family: $font;
        font-weight: normal;
        letter-spacing: 0.2;
        text-transform: uppercase;
    
        @each $name, $value in $sizes {
            &--#{$name} {
                font-size: $value;
            }    
        }
    }
}
