/*
.list li:last-child a {
    color: red;
}

.list li:first-child a {
    color: orange;
}

.list li:nth-child(odd) a{
    color: blueviolet;
}

.list li:nth-child(4) a{
    color: blueviolet;
}
*/
/* 
.list a:hover {
    color: brown;
}
 */
/* 
.list li:not(.not-example) a{
    color: orange;

}
 */

 /* Псевдоэлементы */

 .list {
     list-style: none;
 }

 .list li::before {
     content: '';
     display: inline-block;
     width: 20px;
     height: 20px;
     background-color: black;
     margin-right: 10px;
 }

 .list li::after {
    content: 'After';
}
