.list {
    color: #a6a6a6;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.02;
    line-height: 1.2;

    li + li {
        margin-top: 20px;
    }
}

.list-marked {
    &--box> li {
        padding-left: 3.6rem;
        position: relative;
    }

    &--circle> li {
        padding-left: 3.6rem;
        position: relative;
    }

    &--box>li::before {
        color: #658099;
        content: '\f14a';
        font-family: $icon-font;
        font-weight: 900;
        left: 0;
        position: absolute;
    }

    &--circle>li::before {
        color: #658099;
        content: '\f058';
        font-family: $icon-font;
        font-weight: 400;
        left: 0;
        position: absolute;
    }   
}

.list-ordered {

    list-style-type: decimal;

    &>li {
        padding-left: 2.5rem;
    }
}

.list-marked-ordered {
    li > ul {
        margin-left: 45px;
        margin-top: 20px;
    }

    li > ol {
        margin-left: 45px;
        margin-top: 20px;
    }
}


