.pre-tag {
    background-color: #f2f2f2;
    border: 1px solid #edf1f5;
    color: #666;
    display: inline-block;
    font-family: $code-font;
    font-size: 1.8rem;
    line-height: 1.55;
    padding: 0 5px;

}
