.custom-select {
    font-family: Arial;
    position: relative;
    width: 170px;
}
  
.custom-select select {
    display: none; /*hide original SELECT element:*/
}
  
.select-selected {
    background-color: transparent;
    border-bottom: 2px solid #78838e;
    border-top: 2px solid #78838e;
    color: #78838e;
    text-transform: uppercase;
}
  
/*style the arrow inside the select element:*/
.select-selected::after {
    border: 6px solid transparent;
    
    border-color: #9c0 transparent transparent;
    bottom: 0;
    content: '';
    height: 0;
    position: absolute;
    right: 0;
    transform: translateY(-50%) rotate(-45deg);
    width: 0;
}
 
.select-selected.select-arrow-active {
    border-color: #9c0;
    color: #9c0;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active::after {
}

/*style the items (options), including the selected item:*/
.select-items div {
    border-bottom: 1px solid #2e3c4a;
}

.select-items div,
.select-selected {
    cursor: pointer;
    padding: 8px 16px;
    user-select: none;
    
}
  
  
/*style items (options):*/
.select-items {
    background-color: #232f3b;
    color: #8b9299;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 99;
}
  
/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}
  
.select-items div:hover {
    color: #9c0;
    position: relative;
}

.select-items div:hover::before {
    background-color: #9c0;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
}
