* {
    box-sizing: border-box;
}
body {
    padding-left: 20px;
}

p {
    font-size: 14px;
    line-height: 1.5;
}

.brown {
    color: brown;
}

#heading {
    border-bottom: 1px solid black;
}

div p {
    text-align: center;
    font-style: italic;
}