/* .list li:last-child a{
    color: black;
}

.list li:first-child a{
    color: orange;
} */

/* .list li:nth-child(odd) a{
    color: black;
}

.list a:hover {
    color: red
} */

/* .list li:not(.not-example) a {
    color: orange;
} */

.list {
    list-style-type: none;
}

.list li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: black;
    margin-right: 10px;
}

.list li::after {
    content: "AFTER";
}

