.footer {
    position: relative;

    &__subscribe {
        background-color: $footer-subscribe-bg;
        border-bottom: 2px solid rgba(255, 255, 255, 0.15);
        padding: 25px 0;

        &-form {
            &-control {
                color: $text-white;
                font-family: $secondary-font;
                font-size: 3rem;
                text-transform: uppercase;

                &::placeholder {
                    color: #cbced2;
                    transition: all 0.2s ease-in;
                }

                &:focus::placeholder {
                    color: transparent;
                }
            }
        }
    
        &-text {
            color: $text-white;
            font-family: $secondary-font;
            font-size: 3rem;
            text-transform: uppercase;
        }

        &-icon {
            color: $text-white;
            font-size: 3rem;
            margin-left: 30px;
        }
    }

    &__content {
        background: url('../images/footer-bg.jpg') no-repeat center / cover;
        border-bottom: 2px solid rgba(255, 255, 255, 0.15);
        padding: 145px 0 135px;
    }

    &-nav {
        margin-top: 65px;

        &__item {
            color: #cbced2;
            font-family: $secondary-font;
            font-size: 2.5rem;
            text-transform: uppercase;

            &:hover {
                color: $text-green;
            }

            & + & {
                margin-left: 70px;
            }
        }
    }

    &-contacts {
        background-color: $footer-contacts-bg;
        padding: 35px 0;

        &__item {
            &-text {
                color: $text-white;
                font-family: $secondary-font;
                font-size: 1.6rem;
                margin-top: 25px;
            }

            &-icon {
                color: $text-white;
                font-size: 4rem;
            }
        }
    }
}

.scroll-up-btn {
    background-color: $bg-green;
    height: 26px;
    left: 50%;
    padding: 5px 0;
    position: absolute;
    transform: translateX(-50%) translateY(-100%);
    width: 100px;
    
    &-icon {
        color: $text-white;
        font-size: 1.8rem;
    }
}



