* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background: linear-gradient(359.75deg, #8489FF 0.23%, #61C0F5 99.79%);
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Default clases Start */

.d-flex {
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-content-center {
    align-content: center;
}

.default-btn {
    background:linear-gradient(93.7deg, #EED761 21.68%, #FFB9AF 79.85%);
    border-color: white;
    box-shadow: 0px 3.52663px 35.2663px rgba(255, 185, 175, 0.5);
    border-radius: 88.1657px;
    display: table-cell;
    text-align: center;
    vertical-align:middle;
}

.default-btn:hover {
    color: rgb(227, 232, 243);
    background: linear-gradient(93.7deg, #4b6e88 21.68%, #1395d1 79.85%);
    box-shadow: 0px 3.52663px 35.2663px rgba(3, 34, 70, 0.5);
}
/* Default clases End */

.header-nav a + a {
    padding-left: 45px;
}

#header {
    width: 100%;
    height: 160px;
    text-transform: capitalize;
}
.container {
    max-width: 1170px;
    height: 100%;
    margin: auto;
    padding: 0px;
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    position: relative;
}

.a-tel {
    padding-left: 5px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;

}

.texts {
    width: 550px;
    height: 330px;
    color: white;
    margin-top: 120px;
    margin-bottom: 40px;
}
.texts>h3 {
    font-size: 80px;
    font-weight: 600;
    line-height: 133%;
    letter-spacing: 0.025em;
}

.texts>p {
    font-weight: 500;
    font-size: 20px;
    line-height: 170%;
}

#main {
    height: calc(100vh - 130px - 160px);
    /* border: 2px solid green */
}
.palma {
    position: absolute;
    right: -150px;
    bottom: -10px;
    z-index: -1;
}

.btn{
    margin-top: 60px;
    height: 60px;
    width: 300px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

#footer {
    /* border: 1px solid red; */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    
}
.place-item {
    display: block;
    background-color: #fff;
    color: black;
    border-radius: 10px 10px 0 0;
    width: 240px;
    height: 100px;
}

.place-item-content {
    display: block;
    position: relative;
    bottom: -3px;
    
}
.place-item-heading {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin: 15px 20px;
}

.arrow-right {
    padding-left: 80px;
}

.place-item-img {
    display: block;
    margin: 0 20px;
    position: relative;
    /* bottom: -3px; */
}

.container .place-item + .place-item {
    margin-left: 30px;
}

.social-item a + a {
    margin-left: 30px;
}

.social-item {
    align-self: center;
    margin-left: auto;
}