/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 400 14px/1 'Roboto', sans-serif;
    color: #0a0b0f;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
    user-select: none;
}

label,
a {
    user-select: none;
}

input, textarea {
    border: none;
    outline: none;
}

textarea {
    resize: vertical;
}

img {
    max-width: 100%;
    max-height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-direction-column {
    flex-direction: column;
}

.container-header {
    max-width: 1850px;
    width: 100%;
    padding: 0 15px;
}

.container {
    max-width: 1630px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.container-fluid {
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;

}

/* ------------------------ start header menu ------------------------ */

header {
    background-color: #fff;
    height: 110px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.main-menu {
    display: inline-block;
    text-transform: uppercase;  
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-left: auto;
}

.main-menu a + a {
    margin-left: 60px;
}

.default-btn {
    display: inline-block;
    background-color: #00ac6a;
    border-radius: 17px;
    width: 87px;
    height: 34px;
    line-height: 34px;
    color: #fff;
    text-align: center;
}

/* ------------------------ end header menu ------------------------ */

/* ------------------------ start main-title ------------------------- */

.main-title-title {
    margin-top: 180px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 112px;
    font-weight: 700;
    letter-spacing: -2.8px;
}

.main-title-text {
    margin-top: 40px;
    font-size: 30px;
    line-height: 1.6;
}

/* ------------------------ end main-title --------------------------- */

/* ------------------------ start main-form ------------------------- */

.main-form {
    margin-top: 60px;
}

.main-form-tabs .main-form-tabs-item + .main-form-tabs-item {
    margin-left: 30px;
}

.main-form-tabs-link {
    width: 264px;
    height: 101px;
    border: 1px solid #b7b7b8;
    border-bottom: 1px solid #00ac6a;
    color: #b7b7b8;
    border-bottom: none;
    border-radius: 5px 5px 0 0 ;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    bottom: -1px;
}

.ui-tabs-active.ui-state-active .main-form-tabs-link {
    border: 1px solid #00ac6a;
    border-bottom: none;
    color: #0a0b0f;
    background-color: #fff;

}

.container-tab-content {
    max-width: 1788px;
    width: 100%;
    height: 780px;
    border: 1px solid #00ac6a;
    border-radius: 5px;
    background-color: #fff;

}

.trusted-by {
    max-width: 460px;
    width: 100%;
    height: 780px;
    background-color: #00ac6a;
    margin-left: auto;
    padding: 100px 80px;
    
}

.trusted-by-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    opacity: 0.7;
}

.trusted-by-company-img {
    width: 50%;
    margin: 30px 0;
    opacity: 0.7;
    text-align: left;    
}

.trusted-by-company-img:nth-child(even) {
    text-align: right;
}
/* ------------------------ end main-form --------------------------- */

/* ------------------------ start form fixed price --------------------------- */

.main-form-tab {
    margin-top: 135px;
}
.main-form-tab-project {
    margin-left: 95px;
}

.main-form-tab-attach {
    margin-left: 85px;
}

.main-form-tab-project-title {
    font-size: 18px;
    font-weight: 500;
    color: #b2b2b3;
    letter-spacing: -0.45px;
}

.main-form-tab-btn {
    margin-top: 20px;
}

.main-form-tab-btn input {
    display: none;
}

.main-form-tab-btn > label {
    display: flex;
    align-items: center;
    width: 305px;
    height: 145px;
    background-color: #f5f5f5;
    border-radius: 5px;
    color: #0a0b0f;
}

.main-form-tab-btn > label:hover {
    background-color: #fff;
    color: #00ac6a;
    border: 1px solid #00ac6a;
    border-radius: 5px;
}

.main-form-tab-btn > input:checked + label{
    background-color: #00ac6a;
    color: #fff;
    border: 1px solid #00ac6a;
    border-radius: 5px;
}

/* .main-form-tab-btn > input:checked + label::before{
    content: url(../img/artwork3.png);
    margin-left: 50px;
} */

.main-form-tab-btn-label {
    max-width: 127px;
    margin-left: 20px;
}


.main-form-tab-btn-img {
    margin-left: 50px;
}

.main-form-tab-btn-label > h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    padding-bottom: 5px;
}

.main-form-tab-btn-label > p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
}

/* .main-form-tab-btn > label::before {
    content: url(../img/artwork1.png);
    margin-left: 50px;
} */

/* .main-form-tab-attach input {
    display: none;
} */

.main-form-tab-attach {
    position: relative;
}

.main-form-tab-attach-title {
    display: inline-block;
    width: 300px;
    vertical-align: bottom;
}

.main-form-tab-attach-title {
    border-bottom:1px solid #b2b2b3;
}

.main-form-tab-attach-title {
    font-size: 18px;
    font-weight: 500;
    padding-left: 5px;
}

.main-form-tab-attach-button {
    display: inline-block;
    width: 156px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #00ac6a;
    border: 1px solid #00ac6a;
    border-radius: 5px;
    cursor: pointer;
}

/* ----------------- */
.input-item-attach input[type="file"] {
    display: none;
}

.input-item-attach {
    display: flex;
    justify-content: end;
    position: relative;
    max-width: 500px;
}

.input-item-attach .form-control {
    width: 400px;
    border: none;
    border-bottom: 1px solid #d3d3d4;
    padding-bottom: 20px;
    padding-left: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    outline: none;
}

.label-attach {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    position: absolute;
    width: 400px;
    top: 3px;
    left: 25px;
    transition: all 0.2s ease-in;
}

.input-item-attach .form-control:focus~.label-attach,
.input-item-attach .form-control.value-exist~.label-attach {
    top: -20px;
    font-size: 12px;
    font-weight: 300;
    color: #727275;
}

.label-browse {
    display: inline-block;
    width: 156px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #00ac6a;
    border: 1px solid #00ac6a;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

/* ----------------- */

.input-item {
    position: relative;
    width: 500px;
}

.main-form-tab-attach .input-item {
    margin-top: 80px;
}

.input-item .form-control {
    width: 100%;
    border-bottom: 1px solid #d3d3d4;
    padding-bottom: 20px;
    padding-left: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
}

.input-item label {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    position: absolute;
    width: 100%;
    top: 3px;
    left: 25px;
    transition: all 0.2s ease-in;
}

.input-item label:hover {
    color: #00ac6a;
}

.input-item .form-control:focus ~ label,
.input-item .form-control.value-exist ~ label {
    top: -20px;
    font-size: 12px;
    font-weight: 300;
    color: #727275;
}

.main-form-tab-attach-information {
    height: 40px;
    position: absolute;
    bottom: 10px;
}

.main-form-tab-attach-information img {
    float: left;
    margin-right: 10px;
}
.main-form-tab-attach-information p{
    margin-top: auto;
    max-width: 500px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #727275;
}

.main-form-tab-attach-information-agreement {
    color: #00ac6a;
    border-bottom: 1px solid #00ac6a;
}

/* ------------------------ end form fixed price --------------------------- */

/* ------------------------ start form dedicated team --------------------------- */
/* ------------------------ end form dedicated team --------------------------- */


/* ------------------------ start map-wrapper --------------------------- */
.map-wrapper {
    position: relative;
    top: -25px;
    z-index: -1;
}

.map-wrapper-text {
    width: 100%;
    padding-top: 150px;
    color: #fff;
    position: absolute;
    top: 0;
}

.map-wrapper-text-customers {
    max-width: 540px;
}
.map-wrapper-text-customers-title {
    
    font-size: 16px;
    font-weight: 700;
}

.map-wrapper-text-customers-subtitile {
    margin-top: 60px;
    font-size: 36px;
    font-family: 'Butler';
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: 0.9px;
}

.map-wrapper-text-customers-name {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
}

.map-wrapper-text-customers-company {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    opacity: 0.7;
}

.map-wrapper-text-follow {
    margin-left: auto;
}
.map-wrapper-text-follow-title {
    font-size: 16px;
    font-weight: 700;
}

.map-wrapper-text-follow-company {
    margin-top: 80px;
    font-size: 26px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 10px;
}

/* ------------------------ end map-wrapper --------------------------- */

/* ------------------------ start footer --------------------------- */
.footer {
    margin-top: 100px;
    height: 220px;
}

.footer .footer-items + .footer-items {
    margin-left: 190px;
}

.footer-title {
    font-size: 16px;
    font-weight: 700;
}

.footer-link {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    font-weight: 400;
    line-height: 1.88;
}

.footer-articles-link {
    margin-top: 35px;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.14;
    opacity: 0.8;
    text-decoration: underline;
}

.footer-rights {
    margin-left: auto;
    font-size: 12px;
    font-weight: 400;
    line-height: 2.5;
    text-align: right;
}
/* ------------------------ end footer --------------------------- */