img {
    max-width: 100%;
}

.box {
    width: 200px;
    height: 200px;
    background: brown;
    transition: all 0.3s ease-in;
}

.box:hover {
    background-color: blue;
    /* width: 300px; */
}

.title {
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.title::before {
    content: '';
    position: absolute;
    width: 50%;
    top: 0;
    left: 0;
    height: 100%;
    background-color:rgba(173, 216, 230, 0.5);
    z-index: -1;
    transform: translateX(-75%);
    transition: all 0.2s ease-in;
}

.title:hover::before {
    transform: translateX(0);
}

.img-box{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.img-box img{
    transition: all 0.2s ease-in ;
}

.img-box img:hover{
    transform: scale(1.2);
}
