.block {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-style: 20px;
}

.pos-relative {
    position: relative;
    top: 20px;
    left: -30px;
}

.pos-absolute {
    position: absolute;
    right: 100px;
    top: 100px;
}

.absolute-container {
    width: 500px;
    height: 500px;
    padding: 50px;
    background-color: orange;
}

.pos-fixed {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 10%;
    height: 10%;
}

