.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.flex-wrap {
    flex-wrap: wrap;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.025em;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.--bold {
    font-weight: 900;
}

.--android {
    background: url("../img/Android.png") no-repeat center;
}
.--camera {
    background: url("../img/Camera.png") no-repeat center;
}
.--computer {
    background: url("../img/Computer_iMac.png") no-repeat center;
}
.--watch {
    background: url("../img/Stop_Watch.png") no-repeat center;
}

.--rss {
    background: url("../img/RSS.png") no-repeat center;
}
.--facebook {
    background: url("../img/Facebook.png") no-repeat center;
}
.--twitter {
    background: url("../img/Twitter.png") no-repeat center;
}
.--dribbble {
    background: url("../img/Dribbble.png") no-repeat center;
}
.--pinterest {
    background: url("../img/Pinterest.png") no-repeat center;
}