@font-face {
    font-family: "Roboto"; 
    src: url("../fnt/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Roboto"; 
    src: url("../fnt/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}