.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 16px #262626;
}

.header .logo {
    height: 72px;
    display: flex;
    align-items: center;
}

.header .logo__link {
    letter-spacing: 0.2em;
    word-spacing: -0.4em;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}

.header .logo__begin {
    color: #000;
}

.header .logo__end {
    color: #57AD56;
}

.btn__enter {
    display: inline-flex;
    box-sizing: border-box;
    text-decoration: none;
    width: 78px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid #E0E0E0;
    font-size: 13px;
    color: #1D1D1D;
}

.btn__enter:hover {
    background-color: #E0E0E0;
    text-decoration: none;
    color: #1D1D1D;
}

.btn__enter:active {
    background-color: #E0E0E0;
    border: 1px solid #1D1D1D;
}

.basket {
    cursor: pointer;
}
