@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #333;
}

.modal {
  width: 450px;
}

.modal__close  {
  display: inline-block;
  width: 12px;
  height: 12px;
  opacity: 0.75;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAd0lEQVR4AXWQgQmAMBADC9AROocuoqvoCJ2gQ+gASlfpQG8CBeH5PBxgvABNMrMd3KAkcfwHLrDxowLeAEXIYzqVQQaPL3l5Opl5WJIyTpS07Evd/utO1g+UQ6gHiiH0GmI9OZ1cj2GLZFd6p9MYrOBwclQ6wfIBR/NR3dik4j0AAAAASUVORK5CYII=);
}

.modal__header {
  position: relative;
  height: 54px;
  line-height: 54px;
  padding-left: 25px;
  color: #fff;
  background: #5076A8;
  border-radius: 4px 4px 0 0;
}

.modal__content {
  padding: 20px 25px;
  border-bottom: 1px solid #e7e8ec;
  background: #fff;
}

.modal__footer {
  position: relative;
  height: 54px;
  border-radius: 0 0 4px 4px;;
  background: #FAFBFC;
}

.button {
  background-color: #5b88bd;
  border: none;
  color: #fff;
  font-family: inherit;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.modal__close {
    /* напиши свой код здесь */
    position: absolute;
    right:12px;   
    top:1.5em;
  }
  
  .modal__footer {
    /* напиши свой код здесь */
    position: relative;
    margin: 0px;
    text-align: right;
    padding: 1em 12px;
    padding-bottom: 0px;
    
  }